<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&family=Work+Sans:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="container-prose">
        {% if page.aka %}
            <h1>{{page.aka}}</h1>
            <time datetime="{{page.title}}">{{page.title}}</time>
        {% else %}
            <h1>{{page.title}}</h1>
        {% endif %}

        <article>
            {{ content }}
        </article>
    </section>
    <footer class="container">
        {% include postnav.html %}
    </footer>
  </body>
</html>